:root {
    --rgbVal: 0, 0, 0;
    --rgbVal: 0, 131, 143;
    --rgbVal : 66, 103, 178;  
    --rgbVal : 78, 80, 133;
  
    --warnRgb: 255, 170, 0;
    --errorRgb: 255, 53, 71;
    --grayRgbVal: 214, 214, 214;
    --cbg_color: rgba(255, 255, 255, 1);
    --shadow_color_rgb: 100, 100, 100;
    --cbg_color: rgba(243, 243, 243, 255);
    --gray: rgba(214, 214, 214, 1);
    --primary_color: rgb(var(--rgbVal));
    --secondary_color: rgba(255, 255, 255, 1);
    --background_color: rgba(var(--rgbVal), 1);
    --shadow_color: rgba(var(--shadow_color_rgb), 0.10);
    --black_color: rgba(50, 50, 50, 255);
  }
  